<!DOCTYPE html>
<html lang="en">

{{include "admin/public/header.html"}}              <!--用于导入通用外部资源-->
<!-- 本页面特有外部样式styles引入 -->
<link rel="stylesheet" href="{{__HOST__}}/admin/css/colorbox.css" />
<link rel="stylesheet" href="{{__HOST__}}/admin/css/specialPage/list.css" />

<body>
    {{include "admin/public/nav_top.html"}}		<!--  顶部导航  -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            {{include "admin/public/nav_left.html"}}	<!--  左侧导航  -->

            <div class="main-content">                 <!--  页面内容起始位置  -->
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i>
                            <a href="{{__ROOT__}}/admin">首页</a>
                        </li>
                        <li class="active">轮播图列表</li>
                    </ul><!-- .breadcrumb -->

                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
                        </form>
                    </div><!-- #nav-search -->
                </div>

                <div class="page-content">
                    <div class="page-header">
                        <h1>
                            轮播图
                            <small>
                                <i class="icon-double-angle-right"></i>
                                所有轮播图在此
                            </small>
                        </h1>
                    </div><!-- /.page-header -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row-fluid">    <!--  轮播图内容起始 -->
                                <ul class="ace-thumbnails" id="lunboImages">
                                    <li is="lunboImage-item" v-for="item in lunboImagesList" v-bind:todo="item"></li>
                                    <li >
                                        <a href="#" data-rel="" id="imageAdd" v-on:click="add()">
                                            <img id="previewImage" class="list_lunboImage previewImage" src="/admin/images/gallery/jiahao2.png" />
                                            <div class="text">
                                                <div class="inner">添加轮播图</div>
                                            </div>
                                        </a>
                                        <div class="tools tools-bottom">
                                            <form action="{{__ROOT__}}/admin/broadcast/upload" method="post" enctype="multipart/form-data">
                                                <input type="file" name="file" style="display: none" id="addImageInput" value=""/>
                                                <input type="submit" class="btn btn-default btn-sm" value="submit"/>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- 轮播图内容结束 -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container-inner -->
                <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                    <i class="icon-double-angle-up icon-only bigger-110"></i>
                </a>
    </div><!-- /.main-container -->

            <!--  通用script引入  -->
            {{include "admin/public/footer.html"}}

            <!-- 本页面特有外部script引入-->
            <script src="{{__HOST__}}/admin/js/jquery.colorbox-min.js"></script>
            <script src="{{__HOST__}}/common/js/vue.min.js"></script>
            <script src="{{__HOST__}}/common/js/util.js"></script>
            <script src="{{__HOST__}}/admin/js/specialPage/list.js"></script>

            <!-- inline scripts related to this page -->
            <script type="text/javascript">
                jQuery(function($) {
                    var colorbox_params = {
                        reposition:true,
                        scalePhotos:true,
                        scrolling:false,
                        previous:'<i class="icon-arrow-left"></i>',
                        next:'<i class="icon-arrow-right"></i>',
                        close:'&times;',
                        current:'{current} of {total}',
                        maxWidth:'100%',
                        maxHeight:'100%',
                        onOpen:function(){
                            document.body.style.overflow = 'hidden';
                        },
                        onClosed:function(){
                            document.body.style.overflow = 'auto';
                        },
                        onComplete:function(){
                            $.colorbox.resize();
                        }
                    };

                    $('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
                    $("#cboxLoadingGraphic").append("<i class='icon-spinner orange'></i>");//let's add a custom loading icon

                    /**$(window).on('resize.colorbox', function() {
                        try {
                            //this function has been changed in recent versions of colorbox, so it won't work
                            $.fn.colorbox.load();//to redraw the current frame
                        } catch(e){}
                    });*/
                })
            </script>
</body>
</html>